.wd-button-tweet{
    background-color: rgb(29, 161, 242);
    color: white;
    border-radius: 50px;
    border-style: none;
    align-items: center;
    width: 100%;
    height: 30px;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-search-bar input{
    font-size: 20px;
    width: 90%;
    padding-left: 35px;
}

.wd-search-image {
    position: absolute;
    left: 25px;
    top:10px;
}
.wd-search-gear {
    float:right;
    margin-right: 15px;
}

.wd-huge-image {
    position: relative;
    text-align: center;
    color: white;
}

.wd-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 30px;
    font-weight: bold;
}

.wd-float-left {
    float: left;
    width: 90%;
}
.wd-float-left-small {
    float: left;
    width: 10%;
}
.wd-float-left-25 {
    float: left;
    width: 25%;
}
.wd-float-left-50 {
    float: left;
    width: 50%;
}
.wd-float-done{
    clear: both;
}

.wd-color-grey{
    font-size: 15px;
    color: rgb(110,118,125);
}
.wd-post-image{
    border-radius: 10px;
}

.wd-button-follow{
    background-color: rgb(29, 161, 242);
    color: white;
    border-radius: 50px;
    border-style: none;
    align-items: center;
    width: 100%;
    height: 30px;
}

.wd-follow-logo{
    border-radius: 50%;
}